@tailwind base;
@tailwind components;
@tailwind utilities;

.customize__scroll::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
/* Track */
.customize__scroll::-webkit-scrollbar-track {
	background: #e9e8e8;
}
.customize__scroll::-webkit-scrollbar-thumb {
	background: #b7b7b7;
	@apply rounded;
}
.breadcrumbs {
	/* max-width: 1200px; */
	margin: 0px auto;
}
.breadcrumbs > * {
	display: inline-block;
	margin-right: 10px;
}
.breadcrumbs .crumb:after {
	content: ">";
	margin-left: 10px;
	color: #8c8c8c;
}

.breadcrumbs .crumb:last-child:after {
	display: none;
}

.date_input {
	height: 40px;
}
.date_input > input:focus {
	box-shadow: none !important;
}
.date_input > button:focus {
	box-shadow: none !important;
}
